
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

.light-mode ::-webkit-scrollbar-track {
  background: #f1f5f1;
}

::-webkit-scrollbar-thumb {
  background: #00ff00;
  border-radius: 3px;
}

.light-mode ::-webkit-scrollbar-thumb {
  background: #008f00;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00cc00;
}

.light-mode ::-webkit-scrollbar-thumb:hover {
  background: #007200;
}
